.card {
    display: flex;
    /* border:  2px solid black; */
    height: 400px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.image {
    /* border:  2px solid red; */
    flex: 0.8;
}
.title {
    /* border:  2px solid blue; */
    flex: 0.2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-top: 2px solid black;
}
.image img {
    height: 20rem;
}
.add {
    text-decoration: none;
    border: 2px solid lightseagreen;
    color: lightseagreen;
    border-radius: 5px;
    padding: 3px;
}